/* --- 1. FONTS & AMBIANCE GLOBALE (THEME CLAIR) --- */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Lato:wght@300;400;700&display=swap');

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Cinzel', serif;
}




